{{define "title"}}
K FOOD Blog | {{index . "name"}}
{{end}}

{{define "body"}}
<section class="bg-1 h-900x main-slider pos-relative">
  <div class="triangle-up mt-100">
    <div class="container h-100 ">
      <div class="dplay-tbl">
        <div class="dplay-tbl-cell center-text color-white">
          <h5 class="mt-100"><b>TERBAIK DI INDONESIA</b></h5>
          <h1 class="mb-15">Pizza & Pasta</h1>
          <h5><a href="#" class="btn-primaryc plr-25"><b>Lihat menu hari ini</b></a></h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="story-area left-text center-sm-text pos-relative">
  <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
  <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
  <div class="container">
    <div class="heading">
      <img class="heading-img" src="static/images/heading_logo.png" alt="">
      <h2>Our Story</h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="mb-30 text-justify">
          KFOOD s lahir dari ide Niom Anastasia dan Irene Iis yang bersahabat sejak 10 tahun silam. Kedua wanita
          yang sudah berkeluarga dan memiliki anak. mereka gemar makan dan mengunjungi berbagai macam tempat makan pizza
          dan pasta.
          kami ingin membuat resto yang unik. ketika orang datang, langsung nyngkut dan buat orang enggak bosan untuk
          datang terus.
          Makanannya pun yang bisa dimaakan semua orang dan bisa dimakan setiap hari, Mau makan berat pun bisa dan jam
          berapapun bisa
        </p>
      </div>
      <div class="col-md-6">
        <p class="mb-30 text-justify" style="padding: right 15px;">
          Semua sajian menu yang ada di K FOOD tak lepas dari ide keduanya akan resep apa yang pas untuk disajikan
          kepada para pelanggan.
          sebelum memtuskan membuka restoran, Niom dan Iis memastikan tempat yang bisa sesuai dengan keinginannya
        </p>
      </div>
    </div>
  </div>

</section>

<section class="story-area bg-seller color-white pos-relative">
  <div class="pos-bottom triangle-up"></div>
  <div class="pos-top triangle-bottom"></div>
  <div class="container">
    <div class="heading">
      <img class="heading-img" src="static/images/heading_logo.png" alt="logo">
      <h2>Best Seller</h2>
    </div>

    <div class="row">
      <!-- Menampilkan 8 buah Best seller yang tersedia -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza cheeseburger</h5>
          <h4 class="mt-5"><b>Rp.250.000,00</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza cheeseburger</h5>
          <h4 class="mt-5"><b>Rp.250.000,00</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza cheeseburger</h5>
          <h4 class="mt-5"><b>Rp.250.000,00</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza cheeseburger</h5>
          <h4 class="mt-5"><b>Rp.250.000,00</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza cheeseburger</h5>
          <h4 class="mt-5"><b>Rp.250.000,00</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza cheeseburger</h5>
          <h4 class="mt-5"><b>Rp.250.000,00</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza cheeseburger</h5>
          <h4 class="mt-5"><b>Rp.250.000,00</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order</b></a></h6>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="center-text mb-30">
          <div class="img-200x mlr-auto pos-relative">
            <img src="static/images/cheeseburger.png" alt="">
          </div>
          <h5 class="mt-20">Pizza cheeseburger</h5>
          <h4 class="mt-5"><b>Rp.250.000,00</b></h4>
          <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order</b></a></h6>
        </div>
      </div>
    </div>
    <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>Lihat Menu Hari
          ini</b></a>
    </h6>
  </div>

</section>

<section>
  <div class="container">
    <div class="heading">
      <img class="heading-img" src="static/images/heading_logo.png" alt="logo">
      <h2>Our Menu</h2>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul class="selecton brdr-b-primary mb-70">
          <li><a href="#" class="active" data-select="*"><b>ALL</b></a></li>
          <li><a href="#" data-select="Pizza"><b>PIZZA</b></a></li>
          <li><a href="#" data-select="Pasta"><b>PASTA</b></a></li>
          <li><a href="#" data-select="Appetizer"><b>APPETIZER</b></a></li>
          <li><a href="#" data-select="Dessert"><b>DESERT</b></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      {{ range.data }}
      <div class="col-md-6 food-menu {{ .Jenis }}">
        <div class="sided-90x mv-30">
          <div class="s-left"><img class="br-3" src="static/images/{{.Url_gambar}}" alt="Menu Image"></div>
          <div class="s-right">
            <h5 class="mb-10"><b>{{ .Nama_menu }}</b><b class="color-primary float-right">{{ .Harga }}</b></h5>
            <p class="pr-70">{{ .Deskripsi }}</p>
            <a href="#" class="btn-brdr-primary plr-25"><b>Order</b></a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

</section>
{{end}}